header{
    text-align: center;
}
header h1 {
    font-family: sans-serif;
    margin: 100px;
    margin-bottom: 50px;
}
header #tagline {
    font-family: monospace;
    font-size: smaller;
    margin-bottom: 75px;
    color: rgb(95, 93, 145);
}
.auth-links{
    display: inline;
}
.container{
    display: flex;
    justify-content: center;
}
main{
    max-width: 750px;
    align-items: center;
    justify-content: center;
}
body{
    font-family: sans-serif;
}